html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#siteContainer {
	margin-left: auto;
	margin-right: auto;
	width: 604px;
	
	/*width: 600 + outerMapContainer border * 2 */
}

#top {
	background-color: #1f7;
	height: 120px;
}
#header {
	background-color:#000000;
	height:80px;
	width:604px;
}

#upper {
	padding-top: 20px;
	background-color:#000000;
	height: 45px;
	width:604px;
}

#lower {
	background-color:#FFFFFF;
	height: 15px;
	width:604px;
	text-align:center;
}


h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	color:#FFFFFF;
    font-weight:bold;
    font-style: italic;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
   1px 1px 0 #000;  
   font-family:"Lucida Console", Lucida, monospace;
}

h3 {
	text-align: center;
	color:#F0F0F0;
}

#map-canvas {
	height: 100%
}

#mapContainer {
	position: absolute;
	background-color: #4a5b74;

	width: 600px;
	height: 400px;
	
}

#outerMapContainer {
	border: solid 2px;

	width: 600px;
	height: 400px;
}

#resetButton {
	top: 5px;
	left: 5px;
	position: absolute;
}

#sliderContainer {
	background-color:#DDDDDD;
	z-index:9;
	border-radius:10px;
}

#slider {
	z-index: 10;
	font-size:8px;
}
#min, #max {
    width: 55px;
    text-align: center;
    font-size:10px;
}

#filterContainer {
	background-color:rgba(255,255,255,0.7);
	z-index:9;
	border-radius:10px;
}

#chartContainer {
	background-color:#025DA6;
	z-index:11;
	height:250px;
	width:400px;
	float: right;
}

#pieChartContainer {
	float: left;
	background-color:#1af;
	z-index:11;
	height:250px;
	width:200px;
}

#pie {
	padding-top: 9px;
	padding-left: 16px;
}

p{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 3px;
	margin-right: 10px;
}

p.right{
	text-align: right;
	color:#F0F0F0;
	margin-right: 75px;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.text-center{
	margin-top: 5px;
	margin-bottom: 2px;
	text-align:center;
}

.rectangel{
	width:20px;
	height:20px;
	border:1px solid black;
	margin-left: 5px;
}

.unknownRectangel{
	background-color:#18689C;
	float: left;
}

.knownRectangel{
	background-color:#15438A; 
	float: right;
}

.chart rect {
	fill: steelblue;
	stroke: white;	
}

	/* tell the SVG path to be a thin blue line without any area fill */
path {
stroke: black;
stroke-width: 1;
fill: none;
}
