
html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#siteContainer {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	border: solid 2px;
	/*width: 600 + outerMapContainer border * 2 */
}

#top {
	background-color: #1f7;
	height: 120px;
}
#header {
	width:590px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#outerHeader {
	background-color:#1c1c34;
	margin-bottom: 20px;
	width:100%;
	border-bottom: solid;
	border-color: #FC5900;
}

#upper {
	width:590px;
}

#lower {
	height: 15px;
	width:590px;
	text-align:left;
	color:#FFFFFF;
	font-size: small;
}

#topright {
	color: #FC5900;
	font-size: small;
	padding-left:10px;
	padding-bottom:3px;
}


h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	color:#FFFFFF;
    font-weight:bold;
    font-style: italic;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
   1px 1px 0 #000;  
   font-family:"Lucida Console", Lucida, monospace;
}

h3 {
	text-align: center;
	color:#F0F0F0;
}

#map-canvas {
	height: 100%
}

#mapContainer {
	position: absolute;
	background-color: #fff;
	width: 600px;
	height: 400px;	
}

#outerMapContainer {

	width: 600px;
	height: 400px;
}

#resetButton {
	top: 5px;
	left: 5px;
	position: absolute;
	border:solid 2px;
	background-color: #4C5C74;
	font-weight: bold;
	color: white;
	border-color: black;
}

#resetButton:hover {
	color: white;
	background-color: #5C6C84;
}
#resetButton:active {
	background-color: #FC5900;
}


#chartContainer {
	z-index:11;
	height:100px;
	width:600px;
}


#chartAxisContainer {
	width:40px;
	height:100px;
}


p{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 3px;
	margin-right: 10px;
}

p.right{
	text-align: right;
	color:#F0F0F0;
	margin-right: 75px;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.text-center{
	margin-top: 5px;
	margin-bottom: 2px;
	text-align:center;
}

.rectangel{
	width:20px;
	height:20px;
	border:1px solid black;
	margin-left: 5px;
}

.unknownRectangel{
	background-color:#18689C;
	float: left;
}

.knownRectangel{
	background-color:#15438A; 
	float: right;
}

.chart rect {
	fill: steelblue;
	stroke: black;	
}

#descriptionContainer {
	text-align: center;

	margin-left:100px;
	width:400px;
	/*font-family: "Inconsolata";*/
	font-size: small;
	color: #337297;
}

